<p>Hashtag search</p>
<div class="form-search">
  <form class="form-inline" [formGroup]="hashtagForm" (ngSubmit)="( hashtagForm.get('hashtag').valid && hashtagForm.get('hashtag').touched )?onSubmit():null">
    <div class="form-group">
      <input class="form-control" type="text" id="hashtag" formControlName="hashtag" placeholder="Search by Hashtag">
      <span class="glyphicon glyphicon-search" 
      (click)="( hashtagForm.get('hashtag').valid && hashtagForm.get('hashtag').touched )?onSubmit():errormsg='enter a valid hashtag'"></span>
    </div>
  </form>

  <span *ngIf="!hashtagForm.get('hashtag').valid && hashtagForm.get('hashtag').touched" class="help-block">
    <span *ngIf="hashtagForm.get('hashtag').errors['ForbiddenCharUse']">Forbidden Characters!"</span>
    <span *ngIf="hashtagForm.get('hashtag').errors['required']">This field is required!</span>
    <span *ngIf="hashtagForm.get('hashtag').errors['NotStartsWithHash']">Hashtag should start with # char!</span>
  </span>


  <span *ngIf="!hashtagForm.valid && hashtagForm.touched" class="help-block">Please enter valid data!</span>
</div>

<div *ngIf="hashtagForm.valid && hashtagForm.touched && tweetsWithHashtag;">
  <div class="container-fluid tweetsTable">
    <table class="table table-default tweets-table">
      <thead>
        <tr>
          <th width="40%">Tweet</th>
          <th width="7%">Likes</th>
          <th width="7%">Replies</th>
          <th width="6%">Retweets</th>
          <th width="20%">Hashtags</th>
          <th width="20%">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tweet of tweetsWithHashtag | paginate: { id:'hashtagSearch', itemsPerPage: maxPage, currentPage: currentPage }; let idn = index">
          <td>
            <div *ngIf="this.bigger50(tweet.text); else under50">
                {{tweet.text.substring(0,50) }}
                <a data-toggle="collapse"  style="height:100%;font-size: 14pt;" href="#collapse{{idn}}" style="text-align:right;">...</a> <div id="collapse{{idn}}" class="panel-collapse collapse">
                  {{tweet.text.substring(51)}}</div>
            </div>  
            <ng-template #under50>{{tweet.text}}</ng-template>
              
              
          </td>
          <td>{{(tweet.likes)?tweet.likes:'-'}}</td>
          <td>{{(tweet.replies)?tweet.replies:'-'}}</td>
          <td>{{(tweet.retweets)?tweet.retweets:'-'}}</td>
          <td>{{hashTag4Table}}</td>
          <td>{{tweet.date.split(' - ')[1] | date:'MMM d, y'}}</td>
        </tr>

      </tbody>
    </table>

    <div id="pagination" class="col-xs-12 col-12 text-center">
      <pagination-controls id="hashtagSearch" (pageChange)="currentPage = $event" [maxSize]="5" directionLinks="true"
        autoHide="true" [previousLabel]="'<'" [nextLabel]="'>'" screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
  </div>

</div>

<div *ngIf="hashtagForm.valid && hashtagForm.touched && tweetsWithHashtag===null ">No Tweets Found! Try to change
  the hashtags.</div>
