/* You can add global styles to this file, and also import other style files */

li.nav-item.active, .tab-pane.active{
    background-color: whitesmoke!important;
}
tabset > ul > li.nav-item.active{
    background-color: whitesmoke!important;
}

#hashtagsearch-link.nav-link span{
  color: black!important;
}

#hashtagsearch-link.nav-link.active > span{
    color: cyan!important;
}

#usersearch-link.nav-link span{
    color: black!important;
  }
  
#usersearch-link.nav-link.active > span{
      color: cyan!important;
  }

/* search result pagination */
  #pagination > pagination-controls > pagination-template {
    width: 300px!important;
  }
  #pagination > pagination-controls > pagination-template   > ul {
      width: 300px!important;
      max-width: 300px!important;
      height: 30px!important;
      margin: 0px auto !important;
      padding: 0px!important;
  }